{% extends "blog/base.html" %}
{% block content %}
    <h1 class="tag">This social network is built by ESHA and ARJU ...</h1><br><br>
    <ul class="tag" >
        <li>This system provides users to register their profile.</li>
        <li>   This system provides users to send a message, images, and data files publicly to their friends. </li>
         <li>   The system provides users to grow their network by recommending them to their nearest friend based on their mutual connections.</li>
          <li>  This system provides users to create blogs which can be seen by their followers.</li>
          <li>  This system provides users to like, dislike, comment on their friends' blogs.</li>
          <li>  This system provides the admin to differentiate between the good and bad users based on the sentiment of their blog posts.</li>
           <li> This system helps users to search for a profile by typing their username’s keyword.</li>
      
    </ul>
{% endblock content %}
